@media (min-width: 768px) {
    .root-cont{
        position: absolute;
        display: flex;
        inset: 0;
    }
    .left-panel{
        background-color: hsl(0, 0%, 95%);
        height: 100svh;
        width: 22svw;
        z-index: 10;
        padding-top: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        box-shadow: 0 0.1rem 0.5rem hsl(0, 0%, 0%, 0.3);
    }
    .left-panel :hover{
        border-color: black;
        background-color: hsl(0, 0%, 85%);
        transition: 0.4s ease;
    }
    .contact-link{
        border: solid 2px transparent;
        background-color: transparent;
        /* cursor: pointer; */
        font-size: 1.25rem;
        display: inherit;
        align-items: center;
        transition: 0.4s ease;
        margin-inline: 0.5rem;
        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
    .avatar {
        --size: 2.75rem;
        max-width: var(--size);
        max-height: var(--size);
        aspect-ratio: 1/1;
        border-radius: 50%;

        display: grid;
        place-content: center;
        overflow: hidden;
        background-color: black;
    }
    .avatar > img {
        width: var(--size);
    }
    .search-input{
        margin-top: 0.5rem;
        margin-inline: 0.5rem;
        font-size: 1.25rem;
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        border: 0;
    }
}
@media (max-width: 768px) {
    .root-cont{
        position: absolute;
        display: flex;
        inset: 0;
        width: 100%;
        height: 100%;
    }
    .left-panel{
        background-color: hsl(0, 0%, 95%);
        height: 100svh;
        width: 100svw;
        z-index: 10;
        padding-top: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        box-shadow: 0 0.1rem 0.5rem hsl(0, 0%, 0%, 0.3);
    }
    .left-panel :hover{
        border-color: black;
        background-color: hsl(0, 0%, 85%);
        transition: 0.4s ease;
    }
    .contact-link{
        border: solid 2px transparent;
        background-color: transparent;
        /* cursor: pointer; */
        font-size: 1.25rem;
        display: inherit;
        align-items: center;
        transition: 0.4s ease;
        margin-inline: 0.5rem;
        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
    .avatar {
        --size: 2.75rem;
        max-width: var(--size);
        max-height: var(--size);
        aspect-ratio: 1/1;
        border-radius: 50%;

        display: grid;
        place-content: center;
        overflow: hidden;
        background-color: black;
    }
    .avatar > img {
        width: var(--size);
    }
    .search-input{
        margin-top: 0.5rem;
        margin-inline: 0.5rem;
        font-size: 1.25rem;
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        border: 0;
    }
}