.ContainerEdit{
    width: 100%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
input{
    color: white;
    background-color: black;
    border-radius: 5rem;
    text-align: left;
    font-size: 1.5rem;
    box-shadow: none;
    border: solid 0.1rem #191919;
}
.Edit{
    border: solid 0.15rem #202530;
    background-color: black;
    border-radius: 1.5rem;
    padding: 1rem;
    width: 20rem;
    /* height: 25rem; */
    display: grid;
    grid-template-rows: 1.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.3rem 2.5rem 3rem
}

.o-hide {
    padding: 10px;
    width: 60px;
    font-size: 10px;
    text-align: center;
    margin: 1%;
    opacity: 0;
    transition: all ease 0.8s;
}

.o-hide:hover {
    padding: 10px;
    width: 600px;
    height: 600px;
    font-size: 10px;
    background-image: url("https://i.ytimg.com/vi/xof8yjqMd6A/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGH8gWygnMA8=&rs=AOn4CLCJB5qRR3qGsFjCHZJq4yzdgDFypw");
    text-align: center;
    margin: 1%;
    opacity: 1;
}
.error{
    color: red;
    font-size: 17px;
}
.EditButton{
    border-radius: 1.3rem;
    text-align: center;
    font-size: 1.5rem;
    border: solid 0.15rem #202530;
    left: 10%;
    margin-top: -1rem;
    height: 4rem;
    background-color: #202530;
}