.LoginPage{
    position: absolute;
    left : 40%;
    top: 7rem;
    width: 23%;
    height: 50%;
    font-size: 1.5rem;
    text-align: center;
    background-color: black;
    display: grid;
    grid-template-rows: 30% 10% 10% 15% 15%;
    gap: 2%;
    border-radius: 1.4rem;
    padding: 0.8rem;
    border: solid 0.15rem #202530;
}
.LoginInput{
    color: white;
    background-color: black;
    border-radius: 5rem;
    text-align: left;
    font-size: 1.5rem;
    box-shadow: none;
    border: solid 0.1rem #191919;
}

.LoginButton{
    border-radius: 1.3rem;
    text-align: center;
    font-size: 1.5rem;
    border: solid 0.15rem #202530;
}
.CentrContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}